{
	email {$ACME_EMAIL:admin@example.com}
}

{$SITE_ADDRESS::80} {
	reverse_proxy api:8080 {
		flush_interval -1

		header_up X-Real-IP {remote_host}
	}

	header {
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"

		Strict-Transport-Security "max-age=31536000; includeSubDomains"

		-Server
	}

	log {
		output stdout
		format console
	}
}
